<html lang="en"></html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/static/login/script.js" defer></script>
    <link rel="stylesheet" href="/static/login/style.css">
    <title>Login</title>
</head>
<body>
    <form method="POST" id="form">
        <h1>Login</h1>
        <input type="email" id="email" placeholder="Email">
        <input type="password" id="password" placeholder="Password">
        <button type="submit" id="submitButton">Submit</button>
    </form>
</body>
</html>