<html lang="en"></html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/static/registration/script.js" defer></script>
    <title>Registration</title>
</head>
<body>
    <form method="POST" id="form">
        <h1>Registration</h1>
        <input type="text" id="username" placeholder="Username">
        <input type="email" id="email" placeholder="Email">
        <input type="password" id="password" placeholder="Password">
        <button type="submit" id="submitButton">Submit</button>
    </form>
</body>
</html>