<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main page</title>
    <link rel="stylesheet" href="static/main page/style.css">
    <script src="main page/static/script.js"></script>
</head>
<body>
    <div>
        <h1>Основна сторінка</h1>
        <a href="/posts">Пости</a>
        <a href="/date">Дата</a>
        <p>Ви зараз на основній сторінці</p>
    </div>
</body>
</html>