<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Posts</title>
    <link rel="stylesheet" href="/static/posts/style.css">
    <script src="/static/posts/script.js" defer></script>
</head>
<body>
    <h1>Posts</h1>
    <div class="posts">
        <% posts.forEach((post) => { %>
        <div class="post">
            <a href="/post/<%= post.id %>">
                <h2><%= post.author %></h2>
                <p><%= post.post %></p>
                <p><%= post.time %></p>
            </a>
        </div>
        <% }) %>
    </div>
    <div id="create_post">
        <h1>Створити пост</h1>
            <div id="div-author">
                <p>Автор:</p>
                <input type="text" id="author" name="author">
            </div>
            <div id="div-post">
                <p>Коротка назва посту:</p>
                <textarea id="post" name="post"></textarea>
            </div>
            <div id="div-text">
                <p>Опис:</p>
                <textarea id="text" name="description"></textarea>
            </div>
            <p><button id="button" type="button">Створити пост</button></p>
        <a href="/" id="back">На головну сторінку</a>
    </div>
</body>
</html>